.*.sw?
DerivedData
xcuserdata
Pods/Documentation
.rbenv-version

HockeySDKConfig.h
Gemist.frappliance.tar.gz
nl.superalloy.Gemist.plist

deb/repo.tar.gz
deb/repo/Packages
deb/repo/Packages.bz2
deb/Gemist_*_iphoneos-arm
deb/Gemist.frappliance/Applications/AppleTV.app/Appliances/Gemist.frappliance
